<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  throwConfigExceptions="true">

	<targets>
		<target name="Console" xsi:type="Console"/>
		<target name="Debugger" xsi:type="Debugger"/>
		<target name="Memory" xsi:type="Memory" layout="${message}" maxLogsCount="1"/>
		<target name="File" xsi:type="File" Filename="${baseDir}/Userdata/log.txt"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="Console,Debugger,Memory"/>
		<logger name="*" minlevel="Error" writeTo="Console,Debugger,Memory,File"/>
	</rules>
</nlog>