<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="logconsole" xsi:type="Console"/>
		<target name="logdebugger" xsi:type="Debugger"/>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="logdebugger,logconsole"/>
		<logger name="*" minlevel="Info"  writeTo="logdebugger,logconsole"/>
		<logger name="*" minlevel="Warn"  writeTo="logdebugger,logconsole"/>
		<logger name="*" minlevel="Error" writeTo="logdebugger,logconsole"/>
		<logger name="*" minlevel="Fatal" writeTo="logdebugger,logconsole"/>
	</rules>
</nlog>